$white: #fff;
$black: #000;

$brand-1: #918a72;
$brand-2: #918a72;
$brand-3: #272a3f;

$body-color: #373c35;

$grey-1: #918a72;
$grey-2: #c5c0b7;
$grey-3: #60615f;
$grey-4: #969793;

$heading-h1: #373c35;
$heading-h2: #373c35;
$heading-h3: #373c35;
$heading-h4: #373c35;


// 400, 500, 600
$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Raleway', sans-serif;


// Break points
// https://getbootstrap.com/docs/3.3/css/


$bp-lg: 1200px;
$bp-md: 991px;
$bp-sm: 768px;
$bp-xs: 420px;

// FAQ
$faq-title-color: $body-color;
$faq-title-weight: 400;
$faq-expand-icon-color: $body-color;
$faq-title-background: $grey-2;
$faq-content-background: '../img/grad-small.svg';

// Product list + Cards
$product-list-nav-color: #a47542;
$product-list-nav-border: #a47542;

// footer
$footer-background: $body-color;
$footer-nav-color: #a47542;

// mixins

@mixin align($vertical: true, $horizontal: false, $position: relative) {
	@if $position {
		position: $position;
	}
	@if $vertical {
		top: 50%;
	}
	@if $horizontal {
		left: 50%;
	}

	@if $vertical and $horizontal {
		transform: translateX(-50%) translateY(-50%);
	} @else if $vertical {
		transform: translateY(-50%);
	} @else {
		transform: translateX(-50%);
	}
}
