.case-studies {
  .section__inner {
    .case-studies__list {
      text-align: left;
      margin-top: 40px;
      .case-studies__single {
        min-height: 300px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
        .case-studies__image {
          width: 100%;
        }
        .case-studies__inner {
          padding: 20px;
          .case-studies__title {
            font-size: 20px;
          }
          .case-studies__description {}
          .case-studies__link {}
        }
      }
    }
  }
}
