.contact-details {
  text-align: left;
  hr {
    border: 2px solid $primary-color;
    max-width: 440px;
    width: 100%;
    float: left;
    margin: 8px 0;
  }
  .contact-details__address,
  .contact-details__phone,
  .contact-details__email,
  .contact-details__time {
    margin: 30px 0;
    p {
      padding-left: 48px;
      padding-top: 20px;
    }
  }
  .contact-details__title {
    font-size: 24px;
  }

  .contact-form {
    margin-top: 40px;
    .form-group {
      input {
        width: 100%;
        height: 50px;
        border: 1px solid #ddd;
        border-radius: 5px;
      }
      textarea {
        resize: none;
        width: 100%;
        min-height: 120px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
      }
    }
  }
}
