.section__team {
  .section__team-nav {
    margin-bottom: 40px;
    li {
      &.active {
        border-bottom: 4px solid $primary-color;
        a {
          color: $primary-color;
          border: 0;
          &:active, &:hover, &:focus {
            color: $primary-color;
            border: 0;
          }
        }
      }
      a {
        color: #ddd;
        border-bottom: 4px solid #ddd;
        font-weight: bold;
        font-size: 20px;
        &:hover {
          color: #888;
          background-color: transparent;
          border-top: 0;
          border-left: 0;
          border-right: 0;
          border-color:#888;
        }
      }
    }
  }
  .section__team-tab {
    .section__team-single {
      margin: 30px 0;
    }
    .section__team-member-img {
      margin: 0 auto;
      display: block;
    }
    .section__team-member-name {
      font-size: 16px;
      font-weight: bold;
    }
    .section__team-member-job {
      font-size: 14px
    }
  }
}
