.products {
  .section__inner {
    .product-list {
      margin-top: 60px;
      margin-bottom: 60px;
      h3 {
        font-size: 1.5em;
      }
      img {
        margin: 0 auto;
      }
    }
  }
}
