.btn {
	display: inline-block;
	height: 50px;
	text-align: center;
	padding: 14px 28px;
	text-transform: uppercase;
	font-size: 1.28rem;
	line-height: 18px;
	margin: 12px 0;

	border-radius: 0px;
	border: 0;
	&.btn--block {
		display: block;
	}
	&.btn--small {
		max-width: 150px;
		width: 100%;
	}
	&.btn--medium {
		max-width: 250px;
		width: 100%;
	}
	&.btn--large {
		max-width: 350px;
		width: 100%;
	}

	&.btn--primary {
		background-color: $brand-1;
		color: $white;
		&:hover, &:focus {
			background-color: darken( $brand-1, 10%);
		}
	}
	&.btn--secondary {
		background-color: $brand-2;
		color: $white;
		&:hover, &:focus {
			background-color: darken( $brand-2, 10%);
		}
	}
}
