footer {
	.details {
		color: $white;
		background-color: $brand-3;
		h3 {
			font-size: 1.28rem;
			color: $white;
			margin-bottom: 20px;
		}
		a {
			color: $brand-2;
		}
		.footer-logo {
			margin-top: 20px;
		}
		.copyright {
			margin-top: 80px;
			p {
				margin-bottom: 0px;
				font-size: 0.71rem;
			}
		}
	}

	.footer-nav {
		background-color: $brand-2;
		ul {
			margin: 0;
			padding: 0;
			li {
				float: left;
				position: relative;
				display: block;
				@media (max-width: $bp-sm - 1) {
					float: none;
					text-align: center;
					margin-bottom: 10px;
				}
				a {
					// font-family: $secondary-font;
					padding: 10px 7px;
					color: $white;
					@media (max-width: $bp-sm) {
						font-size: 1.28rem;
					}
					&.active {
						color: $brand-1;
					}
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
}
