form {
	label {
		width: 100%;
		margin-top: 8px;
		input {
			border: 0;

			height: 50px;
			background-color: $white;
			width: 100%;
			color: $grey-3;
			font-weight: 300;
			padding: 10px 16px;
		}
		textarea {
			width: 100%;
			max-width: 100%;
			min-width: 100%;
			resize: none;
			border: 0;
			padding: 10px 16px;
			color: $grey-3;
			font-weight: 300;
			padding: 10px 16px;
		}
	}
	input {
		&[type="submit"] {
			display: block;
			height: 50px;
			text-align: center;
			padding: 14px 28px;
			text-transform: uppercase;
			font-size: 1.14rem;
			line-height: 18px;
			margin: 22px 0;

			border-radius: 0px;
			border: 0;
			background-color: $brand-1;
			color: $white;
			max-width: 150px;
			width: 100%;
			&:hover, &:focus {
				background-color: darken( $brand-1, 10%);
			}
		}
	}
}
