.navbar {
	&.navbar-default {
		border: 0;
		height: 62px;
		background-color: $white;
		.nav-container {
			position: relative;
			z-index: 1;
			@media (max-width: $bp-md) and (min-width: $bp-sm){
				padding: 0;
				margin: 0;
				width: 100%;
			}
			.navbar-header {
				@media (max-width: $bp-sm) {
					height: 62px;
				}
				@media (max-width: $bp-md) and (min-width: $bp-sm){
					width: 100%;
				}
				.navbar-toggle {
					margin: 5px 15px 0 0;
					border: 0;
					.icon-bar-container {
						// display: none;
						.icon-bar {
							height: 5px;
							width: 44px;
							border-radius: 4px;
							background-color: darken($brand-1, 10%);
							margin: 5px 0;
						}
					}
					.mobile-icon-bar-container {
						display: none;
						position: absolute;
						height: 0;
						.mobile-icon-bar {
							text-align: center;
							font-size: 30px;
						}
					}
					&:focus, &:hover {
						background-color: transparent;
					}
					&.collapsed {
						// menu is closed
						.mobile-icon-bar-container {
							display: none;
						}
						.icon-bar-container {
							display: inline-block;
							.icon-bar {
								height: 5px;
								width: 44px;
								border-radius: 4px;
								background-color: $brand-1;
								margin: 5px 0;
							}
						}
					}
					//menu is open
				}
				.navbar-brand {
					padding: 0;
					margin: 11px 0 0 28px;
					@media (max-width: $bp-md) and (min-width: $bp-sm){
						margin: 10px auto;
						display: block;
						float: none;
						width: 134px;
					}
					img {}
				}
			}
			.navbar-collapse {
				border: 0;

				background: $white;
				// float: none;
				//
				// margin-top: 6px;
				// margin-right: 90px;

				&.in {
					// mobile menu open state

				}
				// mobile menu closed or on ipad tablet and higher
				.navbar-nav {
					@media (min-width: 991px) {
						// change the rules below to center the nav items on small destops and above (991px and up)
						float: none;
						max-width: 850px;
						margin: 7px auto 0 auto;
						padding-left: 134px;
					}
					@media (max-width: $bp-md) and (min-width: $bp-sm){
						margin: 0 auto;
						max-width: 100%;
						float: none;
						display: block;

						// change this width to center the nav items on tablet (991px - 768px)
						width: 710px;
					}

					@media (max-width: $bp-sm) {
						background: $white;
						text-align: center;
					}
					li {
						font-family: $secondary-font;
						@media (max-width: $bp-sm) {
						}
						a {
							color: $black;
							&.active {
								color: $brand-1;
							}
							font-size: 1.28rem;
							&:hover {}
						}
					}
				}
			}

		}
	}
}
