html, body {
	font-family: $primary-font;
	font-weight: 400;
	font-size: 14px;
}

h1, h2, h3, h4 {
	font-family: $secondary-font;
}

h1 {
	font-size: 4.85rem; // 68px
	color: $heading-h1;
}
h2 {
	font-size: 2.57rem; // 36px
	color: $heading-h2;
}
h3 {
	font-size: 1.71rem; // 24px
	color: $heading-h3;
}
h4 {
	font-size: 1.28rem;
	color: $heading-h4;
}

p {
	margin: 0 0 25px;
	letter-spacing: 1px;
	line-height: 21px;
	&.lead {
		font-size: 1.14rem;
		line-height: 24px;
	}
}

.h--line {
	border-bottom: 1px solid $brand-2;
	padding-bottom: 8px;
	margin-bottom: 40px;
}
// Utils

.underline {
	text-decoration: underline;
	margin: 50px 0 15px 0;
}
