#carousel-home {
	color: $white;
	.carousel-indicators {
		li {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			border: 1px solid $white;
			margin: 0 5px 0 0;
			&.active {
				background-color: $white;
				border-color: $white;
			}
		}
	}
	.carousel-inner {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		.item {
			height: 540px;
			@media (max-width: $bp-md) and (min-width: $bp-sm) {
				height: auto;
				padding-bottom: 80px;
			}
			@media (max-width: $bp-sm) {
				height: auto;
				padding-bottom: 80px;
			}
			&.active {

			}
			h1, h2 {
				color: $white;
				line-height: 76px;
			}
			h2 {
				font-size: 4.85rem;
			}
			p {
				font-size: 1.28rem;
				line-height: 24px;
			}
			.carousel-content {
				max-width: 960px;
				padding: 0 40px;
				margin: 115px auto 0 auto;
				@media (max-width: $bp-md) {
					margin-left: 30px auto 0 auto;
				}
			}
		}
	}
	.carousel-control {
		&.left {}
		&.right {}
	}
}
