.section {
	padding: 100px 0;
	@media (max-width: $bp-sm + 1) {
		padding: 50px 0;
	}
	&.section--grey {
		background-color: $grey-2;
	}
	&.section--brand-3 {
		background-color: $brand-3;
	}
	&.section--brand-2 {
		background-color: $brand-2;
	}
	&.section--padding-xsmall {
		padding: 25px 0;
	}
	&.section--image {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	&.section--grad {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	&.section--content-light {
		color: $white;
		h2, h3, h4, p {
			color: $white;
		}
	}
	&.section--no-padding-top {
		padding-top: 0;
	}
	&.section--no-padding-bottom {
		padding-bottom: 0;
	}

	.section__image {
		@media (max-width: $bp-sm) {
			margin: 25px 0;
		}
	}
}

.block-contact {
	display: none;
	z-index: 1000;
	position: fixed;
	background-color: $brand-1;
	width: 36px;
	height: 100px;
	right: 0;
	top: 100px;
	padding: 7px;
	img {
		margin-bottom: 8px;
		display: block;
	}
	a {
		margin-bottom: 8px;
		display: block;
	}
	&__inner {
		display: none;
		width: 300px;
		height: 100px;
		background-color: $brand-1;
		padding: 10px;
		position: absolute;
		left: -300px;
		top: 0;
		@media (max-width: 420px) {
			width: 100%;
		}
	}
}

.content--padding {
	&-md-left {
		padding-left: 55px;
		@media (max-width: $bp-sm) {
			padding-left: 15px;
		}
	}
}

.content {
	&--img-right {
		float: right;
		@media (max-width: $bp-sm) {
			float: none;
		}
	}
}

blockquote {
	color: $body-color;
	font-size: 1rem;
	border-left: 2px solid $grey-1;
	max-width: 575px;
	padding: 10px 0 13px 24px;
	margin: 40px 0;
	&::before {
		content: "";
		background-color: $grey-1;
		width: 10px;
		height: 100%;
	}
}


.list {
	list-style: none;
	padding: 0 0 0 12px;
	&__icon {
		&--tick {
			background-image: url(../img/icons/tick.svg);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			width: 25px;
			height: 25px;
			display: inline-block;
			position: relative;
			top: 5px;
			margin-right: 15px;
		}
	}
	li {
		font-size: 1.28rem;
		padding: 8px;
	}
}


.map-section {
	top: -190px;
	position: relative;
	@media (max-width: $bp-md) {
		top: 0;
	}
}

.faq-section {
	.panel-group {
		.panel {
			border-radius: 0;
			box-shadow: none;
			border-color: none;
			&.panel-default {
				border: 0;

				margin-top: 15px;
				.panel-heading {
					border: 0;
					padding: 0;
					border-radius: 0;
					color: $brand-1;
					background-color: $faq-title-background;
					border-color: #EEEEEE;
					.panel-title {
						font-size: 14px;
						a {
							display: block;
							padding: 15px;
							text-decoration: none;
							font-size: 1.125rem;
							color: $faq-title-color;
							font-weight: $faq-title-weight;
							padding: 15px 20px 15px 32px;
							.more-less {
								float: right;
								color: $faq-expand-icon-color;
								font-size: 12px;
								font-weight: 300;
							}
						}
					}
				}
				.panel-collapse {
					.panel-body {
						border: 0;
						margin: -1px;

						padding: 32px;

						background-color: transparent;
						color: $grey-3;

						background-image: url($faq-content-background);
						background-position: top center;
						background-repeat: no-repeat;
						background-size: cover;
					}
				}
			}
		}
	}
}

.tab-section {
	&.tab-section--grey {
		.tab-section__nav {
			&.tab-nav__vertical {
				li {
					a {
						background-color: $grey-2;
					}
				}
			}

			&.tab-nav__horizontal {
				padding-right: 0;
				li {
					margin: 0;
					width: 33.333%;
					@media (max-width: $bp-sm - 1) {
						width: 100%;
					}
					&.active {
						a {
							background-color: $brand-2;
							color: $white;
							&:hover, &:focus {}
						}
					}

					a {
						border: 1px solid $brand-2;
						background-color: $grey-2;
						border-radius: 0;
						height: 60px;
						font-size: 1.28rem;
						color: $grey-4;
						padding: 17px 10px 10px 18px;
						&:hover, &:focus {}
					}
				}
			}
		}
		.tab__content {
			&.tab__content--vertical {
				background-color: $grey-2;
				.tab__image {
					margin-bottom: 40px;
				}
			}
			&.tab__content--horizontal {
				border: 2px solid $brand-2;
				background-color: $white;
				padding: 20px 32px 32px 50px;
			}
		}
	}
	.tab-section__nav {
		&.tab-nav__vertical {
			padding-right: 0;
			li {
				margin: 0;
				&:first-child {
					a {
						border: 0 ;
					}
				}
				&.active {
					a {
						background-color: $brand-2;
						color: $white;
						&:hover, &:focus {}
					}
				}

				a {
					border-top: 1px solid $brand-2;
					background-color: $white;
					border-radius: 0;
					height: 50px;
					font-size: 1.14rem;
					color: $grey-4;
					padding: 13px 10px 10px 18px;
					&:hover, &:focus {}
				}
			}
		}
		&.tab-nav__team {
			li {
				width: 25%;
				@media (max-width: $bp-sm - 1) {
					width: 50%;
				}
				@media (width: $bp-sm) {
					height: 25%;
				}
				margin: 0;
				&.active {
					a {
						&:hover, &:focus {}
						img {
							opacity: 1;
						}

						.card-team__overlay {
							opacity: 0;
						}
					}
				}

				a {
					padding: 0;
					&:hover, &:focus {}
					img {
						width: 100%;
						opacity: 0.8;
					}
					.card-team__overlay {
						width: 100%;
						height: 227px;
						position: absolute;
						z-index: 1;
						background-color: $black;
						transition: opacity 0.5s;
						opacity: 0.5;
						@media (min-width: $bp-lg) {
							height: 276px;
						}
						@media (max-width: $bp-md) {
							height: 174px;
						}
						@media (max-width: $bp-sm - 1) {
							height: 100%;
						}
					}
				}
			}
		}
		&.tab-nav__product-list {
			padding-right: 0;
			margin-top: 22px;
			border-right: 2px solid rgba($product-list-nav-border, .1);
			li {
				margin: 0 20px 0 0;
				height: 40px;
				text-align: right;
				&:first-child {
					a {
						border: 0 ;
					}
				}
				&.active {
					a {
						background-color: transparent;
						font-weight: 600;
						color: $product-list-nav-color;
						&:hover, &:focus {}
					}
				}

				a {
					border-top: 0;
					background-color: transparent;
					border-radius: 0;
					height: 50px;
					font-size: 1rem;
					color: $product-list-nav-color;
					padding: 13px 10px 10px 18px;
					&:hover, &:focus {}
				}
			}
		}
	}
	.tab__content {
		&.tab__content--vertical {
			border-left: 0;
			background-color: $white;
			padding: 20px 32px 32px 50px;
			@media (max-width: $bp-sm - 1) {
				border: 0;
				border-top: 2px solid $brand-2;
			}
			.tab-pane {
				&.active {}
			}
		}
		&.tab-nav__team {

		}
		&.tab__content-product-list {
			background-color: transparent;
			.product-card {
				width: 210px;
				background-color: $white;
				padding: 14px;
				margin-bottom: 30px;
				margin-right: 20px;
				border: 1px solid rgb(206, 206, 206);
				min-height: 350px;
				filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.05));
				&__image {
					margin: 0 auto;
					display: block;
					width: 140px;
				}
				&__title {
					font-size: 1.125rem;
					font-weight: 400;
					text-align: center;
					padding: 15px 0;
				}
				&__brand {
					margin: 0 auto;
					display: block;
					width: 60px;
					padding: 20px 0;
				}
			}
		}
	}
}

.image-gallery {
	// basic styles for a image-gallery
	// a plugin could be used or a custom build with JS or/and Vue.js
	padding: 12px;
	border: 1px solid $grey-2;
	max-width: 540px;
	margin: 0 auto;
	&__featured {
		img {
			max-width: 100%;
		}
	}
	&__tumbnails {
		width: 540px;
		height: 92px;
		.image-gallery__thumbnail {
			img {
				width: 80px;
				height: auto;
				float: left;
				margin-top: 12px;
				margin-right: 37px;
			}
		}
	}
	&__nav {
		// add css if navs are needed
		&__nav-left {}
		&__nav-right {}
	}
}








// copied over from theme 02

.contact-details {
	font-size: 1.14rem;
	color: $grey-3;
	font-family: $primary-font;
	p, address {
		line-height: 25px;
	}
	a {
		color: $grey-3;
		&:hover {
			text-decoration: none;
		}
	}
	.icon-contact {
		margin-bottom: 30px;
		&.icon-location {

		}
		&.icon-number {

		}
		&.icon-email {

		}
	}
}

.card-sections {
	//
	// This section is a WIP because of the issue about the auto height if the text content is longer or shorter.
	// There are many ways of solving this problem but it dosn't work out for ths type of layout.
	// There is a WIP js mobule that tries to change height sizes on resize and initial load.
	//
	// *** TL:DR ***
	// Alot of the "height" and random breakpoints are just for the
	// theme display and should be changed depending on design.
 	//
	.card-sections__card {
		margin-top: 60px;
		overflow: hidden;
		width: 100%;
		.card-sections__left {
			float: left;
		}
		.card-sections__right {
			float: right;
			// margin-right: -1px; // IE bug fix
			// keep both columns equal height
			// padding-bottom: 500em;
			// margin-bottom: -500em;
		}
		.card-sections__left,
		.card-sections__right {
			width: 50%;
			@media (max-width: $bp-sm - 1) {
				width: 100%;
			}
			&.card-sections__image {
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				height: 542px;
				@media (max-width: $bp-lg) and (min-width: $bp-md) {
					width: 50%;
					height: 668px;
				}
				@media (max-width: $bp-md) {
					width: 100%;
				}
			}
			&.card-sections__content {
				background-color: $grey-2;
				padding: 60px;
				@media (max-width: $bp-lg) and (min-width: $bp-md) {
					width: 50%;
				}
				@media (min-width: $bp-sm) and (max-width: $bp-md) {
					width: 100%;
				}
				@media (max-width: $bp-sm) {
					width: 100%;
				}
			}
		}
	}
	&.card-sections--contained {
	}

	&.card-sections--full {
		// full width - remove container class from the contained version
		margin: 0;
		.card-sections__card {
			padding: 0;
		}
		.card-sections__left,
		.card-sections__right {
			&.card-sections__image {
				height: 479px;
				@media (max-width: 1372px) and (min-width: $bp-lg) {
					height: 542px;
				}
				@media (max-width: 1112px) and (min-width: $bp-md) {
					height: 605px!important;
				}
				@media (max-width: $bp-lg) and (min-width: $bp-md) {
					height: 542px;
				}
				@media (max-width: $bp-sm) {
					width: 100%;
				}
			}
			&.card-sections__content {
				@media (max-width: $bp-sm) {
					width: 100%;
				}
			}
		}
	}
}

.back-to-top-button {
	position: fixed;
	z-index: 1;
	right: 20px;
	bottom: 50px; // needs to be at least 50px from bottom because of iPhone sharing / broswer options
	background-color: $brand-1;
	padding: 10px;
	a {
		text-transform: uppercase;
		color: $white;
		text-decoration: none;
	}
}

#carousel-home {
	color: $white;
	.item {
		h1, h2 {
			color: $white;
			line-height: 76px;
		}
		h2 {
			font-size: 4.85rem;
		}
		p {
			font-size: 1.28rem;
			line-height: 24px;
		}
	}
}

.card {
	margin-bottom: 40px;
	@media (max-width: $bp-sm) {
		margin-bottom: 30px;
	}
	.card__image {
		width: 100%;
	}
	.card__inner {
		border: 1px solid $grey-3;
		border-top: none;
		padding: 20px;
		.card__title {
			margin: 0 0 14px 0;
		}
	}
}

.card-team {
	.card-team__image {}
	.card-team__inner {
		h3 {
			margin-bottom: 0;
		}
		h4 {
			margin: 2px 0 14px 0;

		}
	}
}

.newsletter {
	#formNewsletter {
		.form-group {
			display: inline-block;
			@media (max-width: 540px) {
				display: block;
				margin-bottom: 0;
			}
			label {
				@media (max-width: 540px) {
					display: block;
					margin-bottom: 0;
				}
				span {}
				input {
					border: 0;
					color: $grey-4;
					max-width: 100%;
					width: 374px;
					height: 50px;
					padding: 13px;
					@media (max-width: 540px) {
						width: 100%;
						max-width: 493px;
					}
				}
			}
		}
		button {
			display: inline-block;
			margin: -1px 0 4px -4px;
			@media (max-width: 540px) {
				width: 100%;
				margin: 0 0 4px 0px;
			}
		}
	}
}

.banner-section {
	min-height: 340px;
	background-size: cover;
	background-repeat: no-repeat;
	.banner__col {
		min-height: 340px;
	}
	.banner__content {
		@include align(true, false, absolute);
		.page-title {
			color: $white;
		}
		.page-subtitle {
			color: $white;
		}
	}
}

.testimonials-carousel {
	.carousel-indicators {
		bottom: -50px;
		li {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			border: 1px solid $black;
			margin: 0 5px 0 0;
			&.active {
				background-color: $brand-1;
				border-color: $brand-1;
			}
		}
	}
	.carousel-inner {
		.item {
			margin-top: 40px;
			min-height: 140px;
			blockquote {
				// reset
				padding: 0;
				border: 0;

				margin: 0 auto 20px auto;
				max-width: 510px;
				font-size: 1.71rem;
				font-family: $secondary-font;
				color: $black;
				text-align: center;
				&::before {
					// reset
					background-color: transparent;
					width: auto;

					content: "“";
					top: -25px;
					margin-left: -59px;
					position: absolute;
					font-size: 4.85rem;
					color: $brand-1;
				}
				&::after {
					// reset
					background-color: transparent;
					width: auto;

					content: "“";
					margin-left: 38px;
					top: -56px;
					position: absolute;
					z-index: 10000;
					font-size: 4.85rem;
					color: #950b42;
					transform: rotate(180deg);
				}
				@media (max-width: 600px) {
					&::before {
						top: -40px;
						margin-left: 0;
						left: 0;
					}
					&::after {
						top: -78px;
						right: 0;
						margin-left: 0;
					}
				}
			}
			P {
				text-align: right;
				font-weight: 600;
				max-width: 710px;
				margin: 0 auto 20px auto;
			}
			&.active {}
		}
	}
}
