.btn {
	display: inline-block;
	height: 60px;
	text-align: center;
	padding: 17px 30px;
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 18px;
	margin: 12px 0;

	border-radius: 0px;
	border: 1px solid $brand-2;
	&.btn--block {
		display: block;
	}
	&.btn--small {
		max-width: 200px;
		width: 100%;
	}
	&.btn--medium {
		max-width: 250px;
		width: 100%;
	}
	&.btn--large {
		max-width: 350px;
		width: 100%;
	}

	&.btn--primary {
		background-color: $brand-1;
		color: $white;
		&:hover, &:focus {
			background-color: darken( $brand-1, 10%);
		}
	}
	&.btn--secondary {
		// position: absolute;
		border: 2px solid $brand-2;
		border-radius: 8px;
		color: $brand-2;
		transition: .2s all;
		&:hover, &:focus {
			color: $white;
			background-color: darken( $brand-2, 10%);
			border-color: darken($brand-2, 10%);
			&::after, &::before {
				color: $white;
			}
		}
	}

	&.btn--previous {
		margin-top:50px;
		&::before {
			content: "<";
			color: $brand-2;
			position: relative;
			font-size: 22px;
			margin-left: -40px;
			margin-right: 20px;
			text-align: center;
		}
	}
	&.btn--next {
		margin-top:50px;
		float: right;
		&::after {
			content: ">";
			color: $brand-2;
			position: relative;
			font-size: 22px;
			margin-left: 23px;
			margin-right: 0px;
			text-align: center;
		}
	}
}
