footer {
	background-color: $footer-background;
	.details {
		color: $white;
		// background-color: $brand-3;
		h3 {
			font-size: 1.28rem;
			color: $white;
			margin-bottom: 20px;
		}
		a {
			color: $brand-2;
		}
		.footer-logo {
			margin-top: 20px;
		}
		.copyright {
			margin-top: 80px;
			p {
				margin-bottom: 0px;
				font-size: 0.71rem;
			}
		}
	}
	h4 {
		color: $white;
		font-size: 1rem;
		font-weight: 400;
	}
	hr {
		margin-top: 5px;
		opacity: 0.5;
	}

	.social-container-link {
		a {
			display: block;
			margin-bottom: 20px;
			img {
				margin-right: 20px;
			}
			span {
				color: $footer-nav-color;
			}
		}
	}

	.footer-nav {
		ul {
			margin: 0;
			padding: 0;
			li {
				margin: 10px 0;
				position: relative;
				display: block;
				@media (max-width: $bp-sm - 1) {
					float: none;
					text-align: center;
					margin-bottom: 10px;
				}
				a {
					// font-family: $secondary-font;
					text-decoration: none;
					padding: 10px 0;
					color: $footer-nav-color;
					@media (max-width: $bp-sm) {
						font-size: 1.28rem;
					}
					&.active {
						color: $white;
					}
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
}
