.navbar {
	&.navbar-default {
		border: 0;
		height: 11vh;
		background-color: $white;

		.nav-container {
			position: relative;
			z-index: 1;
			@media (max-width: $bp-md) and (min-width: $bp-sm) {
				padding: 0;
				margin: 0;
				width: 100%;
			}

			.navbar-header {
				@media (max-width: $bp-md) and (min-width: $bp-sm) {
					width: 100%;
				}

				.navbar-toggle {
					margin: 30px 15px 0 0;
					border: 0;
					@media (max-width: $bp-sm) {
						margin: 20px 0 0 0;
					}

					.icon-bar-container {
						// display: none;
						.icon-bar {
							height: 5px;
							width: 44px;
							border-radius: 4px;
							background-color: darken($brand-2, 10%);
							margin: 5px 0;
						}
					}

					.mobile-icon-bar-container {
						display: none;
						svg {
							width: 34px;
							height: auto;
						}
					}

					&:focus,
					&:hover {
						background-color: transparent;
					}

					&.collapsed {
						// menu is closed
						.mobile-icon-bar-container {
							display: none;
						}

						.icon-bar-container {
							display: inline-block;

							.icon-bar {
								height: 5px;
								width: 44px;
								border-radius: 4px;
								background-color: $brand-2;
								margin: 5px 0;
							}
						}
					}
					//menu is open
				}

				.navbar-brand {
					padding: 0;
					margin: 13px 0 0 28px;
					@media (max-width: $bp-md) and (min-width: $bp-sm) {
						margin: 12px 0px 0 30px;
					}
					@media (max-width: $bp-sm) {
						margin: 18px 0 0 0;
						display: block;
					}
				}
			}

			.navbar-collapse {
				border: 0;
				background: $white;
				@media (max-width: $bp-sm) {
					margin: 0;
				}
				&.in {
					// mobile menu open state
				}
				// mobile menu closed or on ipad tablet and higher
				.navbar-nav {
					@media (min-width: 991px) {
						// change the rules below to center the nav items on small destops and above (991px and up)
						float: none;
						max-width: 850px;
						margin: 7px auto 0;
						padding-left: 134px;
					}
					@media (max-width: $bp-md) and (min-width: $bp-sm) {
						margin: 0 auto;
						max-width: 100%;
						float: none;
						display: block;
						// change this width to center the nav items on tablet (991px - 768px)
						width: 710px;
					}
					@media (max-width: $bp-sm) {
						background: $white;
						text-align: center;
					}

					li {
						font-family: $secondary-font;
						@media (max-width: $bp-sm) {}

						a {
							color: $black;

							&.active {
								color: $brand-1;
							}
							font-size: 1.28rem;

							&:hover {}
						}
					}
				}
			}
		}
	}
}


header {
	&.full {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100vh;
		.navbar-header {
			background-color: $white;
		}
	}
	&.home-menu {
		@media (max-width: 991px) {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
		}
		@media (min-width: 991px) {
			margin-bottom: 40px;
			.navbar {
				background-color: transparent;
				&.navbar-default {
					.nav-container {
						padding: 0;
						.navbar-header {
							height: 10.9vh;
							.navbar-toggle {
								// button
								margin: 18px 15px 0 0;
							}
							.navbar-brand {
								&.navbar-brand--small {
									margin: 0;
								}
							}
						}
					}
				}
			}
		}
	}
	// generic nav bar
	.navbar {
		background-color: $white;
		&.navbar-default {
			margin: 0;
			height: 10.9vh;
			border-radius: 0;
			@media (max-width: $bp-sm) {
				height: 100px;
			}
			.nav-container {
				width: auto;
				padding: 0;
			}
			.navbar-header {
				height: 100px;
				border-radius: 0;
				margin: 0;
				@media (max-width: $bp-sm) {
					padding: 0 10%;
					.navbar-toggle {
						margin: 18px 15px 0 0;
					}
					.navbar-brand {
						margin: 14px 0 0 0;
						img {
							height: 60px;
						}
					}
				}
				.navbar-toggle {
					// button
					.icon-bar-container {
						.icon-bar {
							background-color: $brand-2;
						}
					}
				}
			}
			.navbar-collapse {
				height: 92vh!important;
				width: 100%;
				background-color: transparent;
				.navbar-nav {
					text-align: center;
					li {
						padding: 5px 0;
						a {
							font-size: 1.875rem;
						}
					}
				}
			}
		}
	}
}



// bootstrap override for the menu breakpoint
@media (max-width: 8000px) {
	.navbar-header {
		float: none;
	}

	.navbar-left,
	.navbar-right {
		float: none !important;
	}

	.navbar-toggle {
		display: block;
	}

	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}

	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}

	.navbar-collapse.collapse {
		display: none!important;
	}

	.navbar-nav {
		float: none!important;
		margin-top: 7.5px;
	}

	.navbar-nav > li {
		float: none;
	}

	.navbar-nav > li > a {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.collapse.in {
		display: block !important;
	}
}
