html, body {
	font-family: $primary-font;
	font-weight: 400;
	font-size: 16px;
	color: $body-color;
}

h1, h2, h3, h4 {
	font-family: $secondary-font;
}

h1 {
	font-size: 3rem; // 68px
	color: $heading-h1;
	font-weight: 600;
	margin: 21px 0;
}
h2 {
	font-size: 2.25rem; // 36px
	color: $heading-h2;
	font-weight: 500;
	margin: 21px 0;
}
h3 {
	font-size: 1.71rem; // 24px
	color: $heading-h3;
	font-weight: 600;
}
h4 {
	font-size: 1.28rem;
	color: $heading-h4;
	font-weight: 600;
}

p {
	margin: 0 0 20px;
	&.lead {
		font-size: 1.125rem;
		line-height: 25px;
	}
}

// Utils

.underline {
	text-decoration: underline;
	margin: 50px 0 15px 0;
}
