.intro {
	min-height: 1024px;
	&__left {
		width: 47%;
		float: left;
		@media (max-width: $bp-md) {
			width: 100%;
			float: none;
			display: none;
		}
		background-image: url(https://placehold.it/683x1024);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: 1024px;
	}
	&__right {
		width: 53%;
		float: right;

		background-image: url(../img/grad.svg);
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 1024px;
		@media (max-width: $bp-md) {
			width: 100%;
			float: none;
		}

		padding: 40px 60px 60px 60px;
		@media (max-width: $bp-md) {
			padding: 60px 0;
		}
		.intro-menu {
			&__nav {}
		}
		.intro__content {
			@media (max-width: $bp-md) {
				padding: 0 15px;
			}
			.contact-details {}
			hr {
				margin: 80px 0 40px 0;
				border-color: $grey-2;
			}
			#formCallback {
				.form-group {
					display: inline-block;
					label {
						width: 100%;
						input {
							border: 0;
							border: 1px solid $brand-2;
							color: #969793;
							max-width: 100%;
							width: 374px;
							height: 50px;
							padding: 13px;

							border-radius: 8px;
							border-right: 0;
							border-top-right-radius: 0;
							border-bottom-right-radius: 0;
						}
					}
				}
				button {
					display: inline-block;
					margin: 1px 0 4px -4px;
					height: 50px;
					font-size: 1rem;
					padding: 15px 30px;
					background-color: $brand-2;
					color: $white;

					border-width: 1px;
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
					border-left: 0;

					&:hover, &:focus {
						background-color: darken($brand-2, 10%);
						border-color: darken($brand-2, 10%);
					}
				}
			}
		}
	}
	.intro_image {
		display: none;
		margin: 40px 0 0 0;
		@media (max-width: $bp-md) {
			display: block;
			max-width: 100%;
		}
	}
}

.intro-menu {

}
