.accordion {
  .panel+.panel {
    // sets margin inbetween each accordion tab
    margin-top: -1px;
  }
  .accordion_panel {
    border-radius: 0;
    border: 0;
    border-top: 2px solid #888;
    border-bottom: 2px solid #888;
    box-shadow: none;
    margin: 10px 0;

    .accordion_link {
      // a tag
      text-decoration: none;
      &:hover {
        h4 {
          color: $secondary-color;
        }
      }
      &.accordion--active {
        background-color: red;
        .accordion_heading-tab {
          color: red;
          background-image: url(../img/icons/icon-minus.svg);
        }
      }
      .accordion_heading-tab {
        // tab eg background-color
        background-repeat: no-repeat;
        background-position: 97% center;
        padding-right: 20px;
        background-size: 8px;
        background-image: url(../img/icons/icon-plus.svg);
        .accordion_title {
          // h4
          text-align: left;
          color: $primary-color;
          font-weight: 600;
        }
      }
    }
    .accordion_panel-collapse {
      // outer box
      background-color: #f5f5f5;
      .accordion_panel-body {
        // text and content etc
        background-color: white;

        .accordion_list-group {

          .list-group-item {

          }
        }
      }
    }
  }
}

.accordion--red {
  background-color: red!important;
}
