.btn {
  // resets
  text-decoration: none;
  display: block;
  text-align: center;
  border-radius: 0;

  margin-top: 50px;

  padding: $btn-default-padding;
  width: $btn-default-width;
  height: $btn-default-height;

  font-size: $btn-default-font-size;
  font-weight: $btn-default-font-weight;
  text-transform: $btn-default-font-case;
  letter-spacing: $btn-default-letterspacing;
  line-height: $btn-default-lineheight;
  &.btn--center {
    margin: 50px auto 0 auto;
  }
  &.btn--large {
    width: $btn-large-width;
    height: $btn-large-height;
    padding: $btn-large-padding;

    font-size: $btn-large-font-size;
    text-transform: $btn-large-font-case;
    letter-spacing: $btn-large-letterspacing;
    line-height: $btn-large-lineheight;
  }

  &.btn--primary {
    background-color: $primary-color;
    color: $btn-dark-font-color;
    &:hover {
      background-color: $primary-color;
      color: $btn-dark-font-color-hover;
    }
  }

  &.btn--dark {
    background-color: $btn-dark-bg-color;
    color: $btn-dark-font-color;
    &:hover {
      background-color: $btn-dark-bg-color-hover;
      color: $btn-dark-font-color-hover;
    }
  }

  &.btn--light {
    background-color: $btn-light-bg-color;
    color: $btn-light-font-color;
    &:hover {
      background-color: $btn-light-bg-color-hover;
      color: $btn-light-font-color-hover;
    }
  }

  &.btn--dark-outline {
    background-color: $btn-dark-outline-bg-color;
    color: $btn-dark-outline-font-color;

    border-width: $btn-outline-border-size;
    border-color: $btn-dark-outline-border-color;
    &:hover {
      background-color: $btn-dark-outline-bg-color-hover;
      color: $btn-dark-outline-font-color-hover;
      border-color: $btn-dark-outline-border-color-hover;
    }
  }

  &.btn--light-outline {
    background-color: $btn-light-outline-bg-color;
    color: $btn-light-outline-font-color;

    border-width: $btn-outline-border-size;
    border-color: $btn-light-outline-border-color;
    &:hover {
      background-color: $btn-light-outline-bg-color-hover;
      color: $btn-light-outline-font-color-hover;
      border-color: $btn-light-outline-border-color-hover;
    }
  }

  &.btn--rounded {
    border-radius: $btn-rounded-radius;
  }

  &.btn--pill {
    border-radius: $btn-pill-radius;
  }

  &.btn--inline {
    display: inline-block;
  }
}

// TEXT BUTTONS

.btn-text {
  font-size: $btn-text-font-size;
  color: $btn-text-font-color;
  font-weight: $btn-text-font-weight;
  letter-spacing: 2px;
  margin: $btn-text-margin;
  &:hover, &:focus {
    color: $btn-text-font-color-hover;
    text-decoration: none;
  }
  &.btn-text--upper {
    text-transform: uppercase;
  }
  &.btn-text--icon {
    &:before, &::before {
      content: '';
      background-image: url($btn-text-icon);

      display: inline-block;
      width: 12px;
      height: 15px;
      position: relative;
      top: 2px;
      margin-right: 5px;
    }
    &:hover, &:focus {
      &:before, &::before {
        content: '';
        background-image: url($btn-text-icon-hover);
      }
    }
  }

  &.btn--block {
    display: block;
  }
}
