.carousel  {
  margin-top: -100px;
  @media (max-width: 767px) {
    // this positions the banner below the mobile nav bar which is solid in color
    margin-top: -20px;
  }
  .carousel-caption {
    @media (max-width: 990px) {
      bottom: 22%;
      h1 {
        font-size: 3rem;
      }
    }
    @media (min-width: 991px) {
      bottom: 15%;
    }
    @media (min-width: 1099px) {
      bottom: 30%;
    }
  }

  .carousel-inner {
    .item {
      height: 600px;
      background-size: cover;
      background-position: center;
    }
  }
}
