.primary-footer {
  color: white;
  h5 {
    font-size: 18px;
    margin-top: 20px;
  }
  p {
    font-size: 14px;
    padding-left: 48px;
    padding-top: 5px;
  }
  a {
    color: white;
    text-decoration: none;
  }
  .sub-nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin: 15px 0;
        a {
          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }
}

.secondary-footer {
  padding: 16px 0;
  color: white;
  p {
    font-size: 10px;
    margin: 0;
  }
  a {
    color: white;
    text-decoration: none;
  }
}

.social-icons {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      height: 30px;
      margin: 15px 0;
      a {
        &:hover {
          color: $primary-color;
        }
        span {
          margin-right: 10px;
          margin-top: -5px;
        }
      }
    }
  }
}
