// Form elements

form {
  .form-group {
    label {

    }
    input {
      border-: 1px solid #dddddd;
      border-radius: 3px;
      height: 50px;
      padding: 12px;
      color: #555555;
      box-shadow: none;
    }
    .help-block {
      color: #555555;
      font-size: 10px;
    }
  }

  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: block;
    .btn {
      margin-top: 0;
    }
    input[type=file] {
      font-size: 100px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
    }
  }

  .select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    background: #fff;
    select {
      padding: 5px 8px;
      width: 130%;
      border: none;
      box-shadow: none;
      background-color: transparent;
      background-image: none;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
    }
    select:focus {
      outline: none;
    }
    // background: #fff url("") no-repeat 90% 50%;
  }

  .checkbox {
    label {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
      }
    }
  }
  .checkbox input:checked ~ .checkmark {
      background-color: #2196F3;
  }
  .checkbox label:hover input ~ .checkmark {
    background-color: #2196F3;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .checkbox label input:checked ~ .checkmark:after {
    display: block;
  }
  .checkbox .checkmark:after {
    left: 10px;
    top: 5px;
    width: 6px;
    height: 11px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .radio {
    label {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 16px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
      }
    }
  }
  .radio label:hover input ~ .checkmark {
    background-color: #ccc;
  }
  .radio input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .radio input:checked ~ .checkmark:after {
    display: block;
  }
  .radio .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }
}
