.navbar {
  background-color: transparent;
  border: 0;
  position: relative;
  z-index: 1000;
  height: 80px;
  @media (min-width: 768px) {
    .navbar-nav {
      margin-top: 16px;
      li {
        &.active {
          a {
            background: none;

            color: white;
            border-bottom: 5px solid $primary-color;
            &:hover {
              color: white;
              background: none;
            }
          }
        }
        a {
          color: white;
          &:hover {
            color: white;
            border-bottom: 5px solid $primary-color;
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    background-color: white;
    height: 60px;
    .navbar-collapse {
      border: 0;
      .navbar-right {
        background-color: white;
      }
    }
  }
}
