.icon {
  width: 30px;
  height: 30px;
  float: left;
  &.time {
    background-image: url(../img/icons/icon-time.svg);
  }
  &.pin {
    background-image: url(../img/icons/icon-pin.svg);
    height: 39px;
  }
  &.phone {
    background-image: url(../img/icons/icon-phone.svg);
  }
  &.email {
    background-image: url(../img/icons/icon-email.svg);
  }

  &.pin-white {
    background-image: url(../img/icons/icon-pin-white.svg);
    height: 39px;
  }
  &.phone-white {
    background-image: url(../img/icons/icon-phone-white.svg);
  }
  &.email-white {
    background-image: url(../img/icons/icon-email-white.svg);
  }

  &.facebook {
    background-image: url(../img/icons/icon-facebook.svg);
  }
  &.instagram {
    background-image: url(../img/icons/icon-instagram.svg);
  }
  &.twitter {
    background-image: url(../img/icons/icon-twitter.svg);
  }
  &.linkedin {
    background-image: url(../img/icons/icon-linkedin.svg);
  }
}
