.section {
  padding: 60px 0;

  &.section--primary {
    background-color: $s-bg-color-primary;
    color: $s-primary-text-color;
  }

  &.section--secondary {
    background-color: $s-bg-color-secondary;
    color: $s-secondary-text-color;
  }

  &.section--center-text {
    text-align: center;
  }

  &.primary-footer {
    background-color: #2e2e2e;
  }

  &.secondary-footer {
    background-color: #4a4a4a;
  }

  &.section--banner-static {
    margin-top: -100px;
    background-size: cover;
    background-position: center;
    height: 600px;
    border-bottom: 30px solid $primary-color;
    .section__inner {
      padding-top: 200px;
      text-align: center;
      color: white;
    }
  }

}

.separator {
  background-color: $primary-color;
  &.vertical {
    height: 54px;
    width: 4px;
    margin: 20px auto;
  }
}

.margin-top-bottom {
  margin-top: 7%;
  margin-bottom: 13%;
}
