.testimonials {
  .carousel {
    margin-top:50px;
    height: 260px;
    .carousel-control {
      display: none;
    }
    .carousel-inner {
      .item {
        height: 230px;
        // max-width: 500px;
        margin: 0 auto;
      }
      .testimonial__quote {
        font-size: 28px;
        font-weight: 600;
        line-height: 30px;
        max-width: 500px;
        margin: 0 auto;
        &:before {
          content: "";
          background-image: url(../img/icons/icon-quote-left.svg);
          width: 30px;
          height: 30px;
          position: absolute;
          margin-left: -36px;
          margin-top: -3px;
        }
        &:after {
          content: "";
          background-image: url(../img/icons/icon-quote-right.svg);
          width: 30px;
          height: 30px;
          position: absolute;
          margin-left: 32px;
          margin-top: 10px;
        }
        @media (max-width: 589px) {
          &:after, &:before {
            display: none;
          }
        }
      }
      .testimonial__name {
        max-width: 500px;
        margin: 0 auto;
      }
      .testimonial__type {
        max-width: 500px;
        margin: 0 auto;
      }
    }
    .carousel-indicators {
      bottom: 0;
      @media (max-width: 589px) {
        bottom: -50px;
      }
      li {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        border-color: $secondary-color;
        &.active {
          width: 20px;
          height: 20px;
          border-radius: 10px;
          background-color: $primary-color;
          border-color: $primary-color;
        }
      }
    }
  }
}
