// TYPOGRAPHY
// https://daniellamb.com/experiments/px-to-rem-calc/
// based on 14px

$type-body-size: 14px;

$type-h1-size: 4.857rem;
$type-h2-size: 3.429rem;
$type-h3-size: 2.857rem;
$type-h4-size: 2.571rem;
$type-h5-size: 2.286rem;
$type-h6-size: 1.714rem;

$type-p-size: 1.143rem;
$type-p-small-print-size: 0.7143rem;

// to edit blockquotes go to _typography.scss

// Text box

$textbox--bg-color: #eeeeee;
$textbox--padding: 10px 20px;
$textbox--outline-border: 1px solid #555555;
$textbox--outline-bg-color: transparent;
$textbox--rounded-border-radius: 5px;

// Text states

$text--success: #5ea60a;
$text--info: #5b5853;
$text--warning: #f5a623;
$text--danger: #d3021a;


//
