// TYPOGRAPHY
html, body {
  font-size: $type-body-size;
}


h1 { font-size: $type-h1-size; }
h2 { font-size: $type-h2-size; }
h3 { font-size: $type-h3-size; }
h4 { font-size: $type-h4-size; }
h5 { font-size: $type-h5-size; }
h6 { font-size: $type-h6-size; }

.h--upper {
  text-transform: uppercase;
}

p { font-size: $type-p-size; }

.p--small-print {
  font-size: $type-p-small-print-size;
}

.blockquote {
  max-width: 420px;
  &.blockquote--marks {

  }
  &.blockquote--indent {
    font-size: 1.714rem;
    margin: 20px 0;
    min-height: 124px;
    &:before, &::before {
      content: '';
      min-height: inherit;
      border-left: 8px solid #dddddd;
      margin-right: 36px;
      float: left;
      position: relative;
      top: 0;
    }
  }
}

.textbox {
  background-color: $textbox--bg-color;
  padding: $textbox--padding;
  &.textbox--outline {
    border: $textbox--outline-border;
    background-color: $textbox--outline-bg-color;
  }
  &.textbox--rounded {
    border-radius: $textbox--rounded-border-radius;
  }
}

.text--success {
  color: $text--success;
}
.text--info {
  color: $text--info;
}
.text--warning {
  color: $text--warning;
}
.text--danger {
  color: $text--danger;
}

.list {
  padding-left: 40px;
  &.list--upper {
    text-transform: uppercase;
  }
  &.list--nopoints {
    padding-left: 0;
    list-style: initial;
    list-style: none;
  }
}
