$white: #fff;
$black: #000;

$brand-1: #950b42;
$brand-2: #918a72;
$brand-3: #272a3f;

$grey-1: #918a72;
$grey-2: #e0e3dc;
$grey-3: #60615f;
$grey-4: #969793;

$heading-h1: #950b42;
$heading-h2: #950b42;
$heading-h3: #950b42;
$heading-h4: #918a72;

$primary-font: 'Oswald', sans-serif;
$secondary-font: 'Crete Round', serif;


// Break points
// https://getbootstrap.com/docs/3.3/css/


$bp-lg: 1200px;
$bp-md: 991px;
$bp-sm: 768px;
$bp-xs: 420px;



// mixins

@mixin align($vertical: true, $horizontal: false, $position: relative) {
	@if $position {
		position: $position;
	}
	@if $vertical {
		top: 50%;
	}
	@if $horizontal {
		left: 50%;
	}

	@if $vertical and $horizontal {
		transform: translateX(-50%) translateY(-50%);
	} @else if $vertical {
		transform: translateY(-50%);
	} @else {
		transform: translateX(-50%);
	}
}
