// @import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700');
html, body {
  font-family: Verdana, sans-serif;
}

$primary-color: #4a90e2;
$secondary-color: #888888;

@import "settings";

@import "parts/sections";
@import "parts/testimonials";
@import "parts/icons";
@import "parts/typography";
@import "parts/buttons";
@import "parts/header";
@import "parts/footer";
@import "parts/form";
@import "parts/accordion";
@import "parts/carousel";


// pages

@import "pages/home";
@import "pages/products";
@import "pages/case-studies";
@import "pages/our-team";
@import "pages/contact";
